<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gulu.album">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>


        <activity
            android:name=".PhotoDetailActivity"
            android:label="@string/title_activity_photo_detail"
            android:parentActivityName=".ListShowCaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gulu.album.ListShowCaseActivity" />
        </activity>
        <activity
            android:name=".PhotoDetailBrowserActivity"
            android:label="@string/title_activity_photo_detail_browser"
            android:parentActivityName=".ListShowCaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gulu.album.ListShowCaseActivity" />
        </activity>
        <activity android:name=".Camera"
            android:label="@string/title_activity_google_camera"
            android:parentActivityName=".ListShowCaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gulu.album.ListShowCaseActivity" />
        </activity>
        <activity android:name=".MatrixImageActivity"
            android:label="@string/title_matrix_image_activity"
            android:parentActivityName=".ListShowCaseActivity"></activity>
        <activity android:name=".RadialGradientActivity" android:label="@string/title_radial_gradient_activity"
            android:parentActivityName=".ListShowCaseActivity"/>
    </application>

</manifest>
