<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gulu.album">

    <application>

        <activity
            android:name=".PhotoDetailActivity"
            android:label="@string/title_activity_photo_detail"
            android:parentActivityName=".ListShowCaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gulu.album.ListShowCaseActivity" />
        </activity>
        <activity
            android:name=".PhotoDetailBrowserActivity"
            android:label="@string/title_activity_photo_detail_browser"
            android:parentActivityName=".ListShowCaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gulu.album.ListShowCaseActivity" />
        </activity>
    </application>

</manifest>
